# Build directories
build/
bin/
lib/
out/

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
CTestTestfile.cmake
*_include.cmake

# FetchContent
_deps/

# IDE / Editor
.vscode/
.idea/
.cache/
*.swp
*~
.DS_Store
.clangd/

# Aurelia Specific
*.log
_deps/googletest-build/googletest/generated/gmock_main.pc
_deps/googletest-build/googletest/generated/gmock.pc
_deps/googletest-build/googletest/generated/gtest_main.pc
_deps/googletest-build/googletest/generated/gtest.pc
_deps/googletest-src/.clang-format
a.out
asm
Aurelia
tests/AureliaTests
